body {
    line-height: 1.6;
    margin: 2rem;
    min-width: 990px;
}

th {
    background-color: #164b46;
    color: #fff;
    padding: 0.5rem 1rem;
}

td {
    border-top: 1px solid #eee;
    padding: 0.5rem 1rem;
}

td.c{
   text-align: center; 
}

input {
    cursor: pointer;
}

th.missed-col {
    background-color: #f00;
}

td.missed-col {
    background-color: #ffecec;
    color: #f00;
    text-align: center;
}

.name-col {
    text-align: left;
}

td.student-name{
    padding: 1rem 5rem;
}
